*{
	margin:0;
	padding:0;
}
body{
	background-color:#f1f1f1;
	font-family: 'Gudea', sans-serif;
	font-size:14px;
	line-height:2.1432698em;
}
.clear-both{
	clear: both;
}
.clear-left{
	clear: left;
}
.clear-right{
	clear: right;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.border{
	border: 1px solid #cecece;
}
.border-top{
	border-top: 1px solid #cecece;
}
.border-bottom{	
	border-bottom: 1px solid #cecece;
}
.border-top-bottom{
	border-top: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
}
#site{
	padding: 0;
	margin: 0;
}
#text-head{
	padding: 2px 6px;
}
#page-wrap{
	margin:0 auto;
	padding:4px 8px;
	width:960px;
	background-color:#fff;
}
#header{
	padding: 0;
	line-height: 2.6233889493em;
}
.menu ul
{
	list-style-type: none;
	display:block;
}
.menu ul li
{
	padding:3px 8px;
	margin:3px;
	display:inline;
	background-color:#6D8ED2;
}
.menu ul li a
{
	color:#fff;
	text-decoration:none;
}
.menu ul li a:hover
{
	text-decoration:underline;
}
.site-measure{
	font-size: 16px;
	color: gray;
}
#section{
	font-size:16px;
	margin: 2px 0;
}
#footer{
	display:block;
	text-align:center;
}
.site-address{	
	font-size:13px;
	background-color:#6D8ED2;
	padding: 3px 8px;
	color: #fff;
	text-decoration: none;
}
.site-address:hover{
	text-decoration: underline;
}